@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Basic setup */

* {
    margin: 0;
    padding: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
    min-height: 100vh;
    font-size: 18px;
}

body {
    font-family: "Open Sans", sans-serif;
    color: #4b4242;
}

main {
    padding-left: 5rem;
    padding-right: 5rem;
    overflow-x: hidden;
}


@keyframes easeInAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


section {
    animation: easeInAnimation 0.8s ease-in; /* Adjust duration and timing function */
}

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    overflow-x: hidden;
}

header {
    position: sticky;
    top: 0;
    z-index: 1100;
    width: 100%;
}


@supports (position: sticky) {
    header {
        position: sticky;
        top: 0;
    }
}


/* Navbar*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 2rem 6.5rem;
    color: #333;
    position: relative;
    top: 0;
    z-index: 1100;

}


.navbar .logo img {
    width: 10rem;
    
}

.navbar .hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 0.3rem;
}

.navbar .hamburger span {
    width: 25px;
    height: 3px;
    background: #061c2c;
    transition: background 0.3s ease;
    border-radius: 1px;
}

/* Off-Canvas Navbar */
.nav-links {
    font-family: "Open Sans", sans-serif;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #061c2c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    transition: right 0.5s ease;
    z-index: 1200;
    padding: 2rem 0;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #29a4e6;
}

.nav-links.active {
    right: 0;
    z-index: 1200;
}

.nav-links .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    outline: none;
    transition: transform 0.2s ease, color 0.2s ease;
}

.nav-links .close-btn:hover {
    transform: scale(1.2);
    color: #29a4e6;
}

.nav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1050; /* Between navbar and nav-links */
    display: none;
}

.nav-links.active + .nav-overlay {
    display: block;
}



/* Footer */

.footer {
    text-align: center;
    color: #4b4242;
    height: 10vh;
}

/* About */

.about-container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    gap: 1rem; 
    padding: 1rem;
    padding-top: 2.5rem;
}

.about-text {
    width: 55%; 
    padding: 1rem 2rem;
}

.about-text p {
    color: #575656;
    text-align: left;
}

.about-icon {
    width: 45%;
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 0.5rem;
}

.about-icon img {
    max-width: 100%; 
    height: auto;
    object-fit: contain;
}



/* Action Container */
.action-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin: 2rem 0;
    padding: 1rem 2rem;
}

.action-div {
    background-color: #061c2c;
    color: #fff;
    border: 1px solid #ddd;
    padding: 1rem;
    text-align: left;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-size: 32px;
    width: 372px;
    height: 201px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
}

.action-div:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


.action-div .action-icon {
    width: 44px;
    height: 45.7px;
    opacity: 0.70; 
    color: #29a4e6
}

.action-div .action-text {
    width: 210px;
    height: 103px;
    font-family: "Open Sans";
    font-size: 30px;
    font-weight: normal;
    line-height: 33px;
    font-style: normal;
    text-align: left;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Smaller Action Container */
.action-container-sm {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
    margin: 2rem 0;
    padding: 1rem 2rem;
}

.action-div-sm {
    background-color: #244AC2;
    color: #fff;
    border: 1px solid #ddd;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    border-radius: 2px;
    font-size: 0.75rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.action-div-sm:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.action-icon {
    width: 20px;
    z-index: 1000;
}


/* Slider */
.slider-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 80vh;
    z-index: 1;
}


.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}


.slide {
    flex: 1 0 100%;
    height: 80vh;
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-controls {
    position: absolute;
    top: 46%;
    width: 100%;
    display: flex;
    justify-content: right;
    transform: translateY(-50%);
    z-index: 1;
}

.slider-controls button {
    background: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.slider-controls button:hover {
    opacity: 1;
}

.slider-controls button img {
    width: 100%;
    height: 79px;
    object-fit: cover;
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
    display: block;
}


.slider-container {
    position: relative;
    z-index: 10;
    overflow: hidden;
}


.banner {
    position: absolute;
    top: 18rem;
    left: 0;
    width: 585px; 
    height: 100px;
    background: #244ac2;
    z-index: 11;
    display: flex;
    justify-content: center;
}

.banner-text {
    position: absolute;
    width: 456px;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 45px;
    text-align: center;
    letter-spacing: 5px;
    color: #ffffff;
    margin: 0 auto;
    padding: 25px;
}

.banner-right {
    position: absolute;
    top: 18rem;
    right: 0;
    width: 585px;
    height: 100px;
    background: #000;
    z-index: 5;
}



.indicators {
    position: absolute;
    bottom: 30px;
    right: 30px;
    display: flex;
    gap: 10px;
  }
  
  .indicator {
    width: 18px;
    height: 18px;
    border-radius: 2px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
  }
  
  .indicator.active {
    transform: rotate(45deg);
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
  }


/* Extra Large Screens (4K displays or larger) */
@media (min-width: 2560px) {
    body {
        font-size: 22px;
    }
    main {
        padding-left: 8rem;
        padding-right: 8rem;
    }


    .slider-container {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 90vh;
        z-index: 1;
    }

    .action-div{
        width: 690px;
        height: 280px;
        padding-left: 5rem;

    }

    .action-text {
        font-size: 36px !important;
        width: 80% !important;
    }

    .action-text-sm {
        font-size: 28px !important;
        width: 80% !important;
    }

    .action-icon-sm img {
        width: 20px;
        top: 10px;
    }

    .action-icon-sm {
        margin: 0 auto;
    }

    .about-text p {
        padding: 0 !important;
        text-align: left;
    }

    .about-text {
        margin-right: 0;
        margin-bottom: 1rem;
        text-align: center;
        width: 100%;
    }

    .about-icon {
        display: flex;
        justify-content: right;
    }
}

/* Large Screens (Desktops and laptops) */
@media (max-width: 1440px) {
    body {
        font-size: 20px;
    }
    main {
        padding-left: 6rem;
        padding-right: 6rem;
    }
    .banner {
        width: 400px !important;
        height: 100px !important;
        top: 15.7rem;
    }

    .banner-right {
        width: 120px;
        height: 100px !important;
        z-index: -2;
        top: 15.7rem;
    }

        .banner-text {
        font-size: 16px;
        word-wrap: break-word;
        width: 100%;
    }
    .action-div{
        width: 300px;
        height: 180px;
    }

    .slider-container {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 70vh;
        z-index: 1;
    }
}

/* Medium Screens (Tablets) */
@media (max-width: 1024px) {
    body {
        font-size: 18px;
    }
    main {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .banner {
        width: 280px !important;
        height: 100px !important;
        top: 15.7rem;
    }

    .banner-right {
        width: 85px;
        height: 100px !important;
        z-index: -2;
        top: 15.7rem;
    }

    .banner-text {
        font-size: 12px;
        word-wrap: break-word;
        width: 100%;
    }
    .action-div{
        width: 210px;
        height: 140px;
    }

    .slider-container {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 70vh;
        z-index: 1;
    }

    .about-container {
        flex-direction: column;
        align-items: center;
        
    }

    .about-text p {
        padding: 0 !important;
        text-align: center;
    }

    .about-text{
        margin-right: 0;
        margin-bottom: 1rem;
        text-align: center;
        width: 100%;
    }
    .about-icon {
        flex-direction: row;
        justify-content: center;
        flex-wrap: nowrap;
        width: 100%;
    }
}

/* Small Screens (Portrait Tablets and Large Phones) */
@media (max-width: 768px) {
    body {
        font-size: 16px;
    }
    main {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .navbar {
        padding: 1.5rem 3rem;
    }

    .slider-container {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 70vh;
        z-index: 1;
    }

    .banner {
        width: 280px !important;
        height: 100px !important;
        top: 14.8rem;
    }

    .banner-right {
        width: 70px;
        height: 100px !important;
        z-index: -2;
        top: 14.8rem;
    }

        .banner-text {
        font-size: 12px;
        word-wrap: break-word;
        width: 100%;
    }


    .action-container {
        flex-direction: column;
        align-items: center;
        grid-template-columns: repeat(1, 1fr);
        align-items: center !important;
        padding: 0;
        justify-content: center;
    }

    .action-div {
        margin-bottom: 1rem;
        text-align: center;
        width: 300px !important;
        flex-direction: column; 
        align-items: center;
    }
    .action-div {
        flex-direction: row;
        justify-content: center;
        flex-wrap: nowrap;
        margin: 0 auto !important;
    }

    .navbar .logo img {
        width: 7rem;
        
    }
}

/* Extra Small Screens (Phones) */
@media (max-width: 480px) {
    body {
        font-size: 14px;
    }
    main {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .navbar {
        padding: 1rem 2rem;
    }

    .navbar .logo img {
        width: 5rem;
        
    }

    .banner {
        width: 280px !important;
        height: 100px !important;
        top: 10.3rem;
    }

    .banner-right {
        width: 70px;
        height: 100px !important;
        z-index: -2;
        top: 10.3rem;
    }

        .banner-text {
        font-size: 12px;
        word-wrap: break-word;
        width: 100%;
    }

    .action-div {
        width: 75% !important;
    }

    .action-text {
        font-size: 24px !important;
    }

    .slider-container {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 50vh;
        z-index: 1;
    }


}

/* Ultra Small Screens (Very Small Phones) */
@media (max-width: 320px) {
    body {
        font-size: 12px;
    }
    main {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .banner {
        width: 200px;
        height: 50px;
        top: 10.5rem;
    }

    .banner-right {
        width: 70px;
        height: 50px;
        z-index: -2;
        top: 10.5rem;
    }

    .banner-text {
        font-size: 10px;
        word-wrap: break-word;
    }

    .action-div {
        width: 75% !important;
        padding: 1rem;
    }

    .action-text {
        font-size: 20px !important;
    }
}


    /* More Responsive Adjustments */
    @media (max-width: 768px) {

        .about-container,
        .action-container {
            flex-direction: column;
            align-items: center;
            
        }
    
        .about-text p {
            padding: 0 !important;
            text-align: center;
        }
    
        .about-text,
        .action-div {
            margin-right: 0;
            margin-bottom: 1rem;
            text-align: center;
            width: 100%;
        }
        .about-icon,
        .action-div {
            flex-direction: row;
            justify-content: center;
            flex-wrap: nowrap;
            width: 100%;
        }
    
        .action-container-sm {
            grid-template-columns: repeat(3, 1fr);
        }
    }
    
    @media (max-width: 480px) {
    
        .action-container-sm {
            grid-template-columns: 1fr;
        }

        .slider-controls button img {
            display: none !important;
        }
    }



    